{% extends 'layout.html' %}
    {% block body %}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum delectus cumque corporis earum laborum. Quo
    doloribus, modi fugiat, quaerat, unde voluptas nam velit quas illo deleniti mollitia dolores. Quia earum, vero
    distinctio cupiditate recusandae quis minus dicta corrupti! Cupiditate pariatur recusandae laborum maxime sapiente
    fuga tempore hic voluptatibus repellendus possimus iure modi adipisci voluptates, assumenda sed rem delectus in
    facilis iste aperiam nihil aliquam. Reprehenderit nisi autem, velit rem nam provident harum animi modi totam ut
    deleniti voluptatem, labore praesentium perferendis! Dolorem repellendus quidem facilis dolor magni id iusto
    voluptatum atque nostrum ut blanditiis deserunt sed veritatis quod nulla beatae modi ipsam, tempore porro ea quos
    nemo. Tempore reiciendis, in soluta velit fugiat autem optio excepturi, necessitatibus et, eveniet dolore? Culpa
    inventore necessitatibus maiores doloribus temporibus nemo, voluptatum praesentium dolorum iure tempora, cumque
    laborum quisquam reiciendis debitis eum alias aliquid voluptates sint officiis earum! Mollitia pariatur numquam
    officia unde provident quidem facere aut sunt? Laboriosam ipsa perspiciatis qui illo velit fuga officia, nam commodi
    nihil quas inventore esse omnis eligendi necessitatibus! Mollitia ratione tempore pariatur enim totam beatae ab
    similique iure in illum assumenda, eligendi consectetur fugiat, nesciunt porro nulla modi esse earum tenetur
    possimus adipisci. Magni hic veniam consequuntur.</p>

{% endblock %}